body {
    background: linear-gradient(to bottom, #3265a2, #cdd5df);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    --bs-navbar-padding-y: 0 !important;
}

a {
    text-decoration: none !important;
}

.head {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.contain {
    flex-grow: 1 !important;
}

p {
    margin: 0 !important;
    color: black !important;
}

.foot {
    margin-top: auto;
    background-color: #d9d9d9;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 5px !important;
    color: black !important;
}

.leftF {
    margin-left: 100px !important;
}

.insta {
    margin-left: 20px !important;
}

.rightF {
    margin-right: 200px !important;
}

.tabActive {
    color: #f0c118 !important;
    font-weight: 700;
}

/* .backActive {
    background-color: grey !important;
    color: white !important;
} */

.smallC {
    width: 29% !important;
    margin: 0 2% !important;
    margin-bottom: 3% !important;
}

.bigC {
    width: 100% !important;
    margin-bottom: 2% !important;
}

.judulSection {
    margin: 0 7%;
    margin-top: 1%;
}

.alertProfile {
    margin: 0% 5%;
    margin-top: 1%;
}

.judulSection button {
    font-size: large;
    font-weight: 700;
}

.forumContent {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 5%;
}

.closedForumAlert {
    width: 100%;
    margin-bottom: 2% !important;
}

.pageContainer {
    margin: 2% 7% !important;
    margin-top: 3% !important;
}

.lecturerName {
    margin-bottom: 10px !important;
}

.judul {
    font-weight: bold;
    font-size: large;
}

.mhsPictContain {
    margin: 0 !important;
    margin-right: 7px !important;
}

.applied {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

textarea {
    display: block;
    height: 60px;
    width: 100%;
    resize: vertical;
    padding: 8px;
}

.ket {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.editForum {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.reqBtn {
    color: black;
    background-color: #f0c118;
    font-weight: 500;
    margin-top: 7px;
}

hr {
    margin: 16px 0 !important;
    background-color: #cdd5df;
}

.categoryBtn {
    color: black !important;
    background-color: #f0c118 !important;
    font-weight: 500;
}

.ketVisible {
    font-size: small;
    opacity: 0.5 !important;
}

.formContainer {
    background-color: #3f90d0;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 3% 35%;
    border-radius: 20px;
}

.logoContainer {
    margin: 0 35%;
    margin-top: 5%;
    width: 30%;
}

.loginText {
    margin-top: 20% !important;
    text-align: center;
    font-size: larger;
    color: white !important;
    font-weight: 700;
}

.formContent {
    margin: 10% 20%;
}

.formSec {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.invalid-feedback {
    color: #f0c118 !important;
    font-weight: 500 !important;
}

.submit {
    margin-bottom: 0 !important;
    margin-top: 20%;
}

.formContent div label {
    font-size: medium;
    color: white;
    margin-bottom: 5px;
}

.formContent div input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color:whitesmoke;
    outline-offset: 2px;
}

.submitBtn {
    background-color: lightgray !important;
    color: black;
    border: none;
}

.submitBtn:hover {
    background-color: #f0c118 !important;
}

.formContent p {
    text-align: center;
    color: white !important;
}

.formContent a {
    color: #f0c118 !important;
    font-weight: 600;
}

.newRecruitBtn {
    display: flex;
    justify-content: flex-end;
    margin: 1% 5%;
}

.newRecBtn {
    color: black !important;
    background-color: #f0c118 !important;
    font-weight: 500;
    border: none;
    position: fixed;
    bottom: 80px;
}

.newFormContainer {
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3% 5%;
    border-radius: 20px;
}

.newFormContent {
    margin: 3% 5%;
}

.newFormContent div label {
    font-size: medium;
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
}

.newFormContent div input, select {
    border: none !important;
    border-radius: 10px !important;
    padding: 10px !important;
    background-color:whitesmoke !important;
    outline-offset: 2px !important;
}

.addNewForum {
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
}

.addForumBtn {
    background-color: #f0c118 !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    width: 8% !important;
}

.addForumBtn:hover {
    color: black;
}

.newRecContainer {
    margin: 0 35%;
    margin-top: 3%;
    width: 30%;
}

.newRecText {
    text-align: center;
    font-size: x-large;
    color: black !important;
    font-weight: 700;
}

.historyTable {
    margin: 5% 10%;
}

ul {
    list-style-type: disc;
}

.table {
    border-radius: 5px !important;
}

.recStatusCard {
    width: 100%;
}

.media {
    margin: 0 !important;
}

.thisError {
    color: #f0c118;
    font-weight: 500;
}
